body {
    filter: blur(0.4px);
}

/*Navbar start*/

#logo1, #logo2, #logo3, #logo4, #logo5 {
    color: #7fbfe7;
    letter-spacing: -1.1px;
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: 900;
    overflow: hidden;
    padding-bottom: 1rem;
}

#logo1 {
    text-shadow:  0 0 2px #7fbfe7,
                  -1px 0  2px black,
                  0 1px 2px black,
                  1px 0 2px black,
                  0 -1px 2px black,
                  1px 1px 2px black,
                  2px 2px 2px black,
                  3px 3px 2px black,
                  4px 4px 2px black,
                  5px 5px 2px black,
                  6px 6px 2px black,
                  7px 7px 2px black,
                  8px 8px 2px black,
                  9px 9px 2px black,
                  10px 10px 2px black,
                  11px 11px 2px black,
                  12px 12px 2px black,
                  13px 13px 2px black,
                  14px 14px 2px black,
                  15px 15px 2px black,
                  16px 16px 2px black,
                  17px 17px 2px black,
                  18px 18px 2px black,
                  19px 19px 2px black,
                  20px 20px 2px black,
                  21px 21px 2px black,
                  22px 22px 2px black,
                  23px 23px 2px black,
                  24px 24px 2px black,
                  25px 25px 2px black,
                  26px 26px 2px black,
                  27px 27px 2px black,
                  28px 28px 2px black,
                  29px 29px 2px black,
                  30px 30px 2px black,
                  31px 31px 2px black,
                  32px 32px 2px black,
                  33px 33px 2px black,
                  34px 34px 2px black,
                  35px 35px 2px black,
                  36px 36px 2px black,
                  37px 37px 2px black,
                  38px 38px 2px black;
}

#logo2 {
    text-shadow:  0 0 2px #7fbfe7,
                  -1px 0 2px black,
                  0 1px 2px black,
                  1px 0 2px black,
                  0 -1px 2px black,
                  1px 1px 2px black,
                  2px 2px 2px black,
                  3px 3px 2px black,
                  4px 4px 2px black,
                  5px 5px 2px black,
                  6px 6px 2px black,
                  7px 7px 2px black,
                  8px 8px 2px black,
                  9px 9px 2px black,
                  10px 10px 2px black,
                  11px 11px 2px black,
                  12px 12px 2px black,
                  13px 13px 2px black,
                  20px 13px 2px black,
                  24px 13px 2px black,
                  28px 13px 2px black,
                  32px 13px 2px black,
                  34px 13px 2px black,
                  38px 13px 2px black,
                  40px 13px 2px black,
                  41px 13px 2px black;
}

#logo3 {
    text-shadow:  0 0 2px #7fbfe7,
                  -1px 0 2px black,
                  0 1px 2px black,
                  1px 0 2px black,
                  0 -1px 2px black,
                  1px 1px 2px black,
                  2px 2px 2px black,
                  3px 3px 2px black,
                  4px 4px 2px black,
                  5px 5px 2px black,
                  6px 6px 2px black,
                  7px 7px 2px black,
                  8px 8px 2px black,
                  9px 9px 2px black,
                  10px 10px 2px black,
                  11px 11px 2px black,
                  12px 12px 2px black,
                  13px 13px 2px black,
                  14px 13px 2px black;
    padding-right: 1rem;
}

#logo4 {
    text-shadow:  0 0 2px #7fbfe7,
                  -1px 0 2px black,
                  0 1px 2px black,
                  1px 0 2px black,
                  0 -1px 2px black,
                  1px 1px 2px black,
                  2px 2px 2px black,
                  3px 3px 2px black,
                  4px 4px 2px black,
                  5px 5px 2px black,
                  6px 6px 2px black,
                  7px 7px 2px black,
                  8px 8px 2px black,
                  9px 9px 2px black,
                  10px 10px 2px black,
                  11px 11px 2px black,
                  12px 12px 2px black,
                  13px 13px 2px black,
                  18px 13px 2px black,
                  20px 15px 2px black,
                  13px 20px 2px black;
}

#logo5 {
    text-shadow:  0 0 2px #7fbfe7,
                  -1px 0 2px black,
                  0 1px 2px black,
                  1px 0 2px black,
                  0 -1px 2px black,
                  1px 1px 2px black,
                  2px 2px 2px black,
                  3px 3px 2px black,
                  4px 4px 2px black,
                  5px 5px 2px black,
                  6px 6px 2px black,
                  7px 7px 2px black,
                  8px 8px 2px black,
                  9px 9px 2px black,
                  10px 10px 2px black,
                  11px 11px 2px black,
                  12px 12px 2px black,
                  13px 13px 2px black,
                  14px 14px 2px black;
    padding-right: 1rem;
}

#gabriel {
    line-height: 1px;
    display: block;
    margin-top: 20px;

}

#meringolo {
    position: relative;
    bottom: 10px;
}

.navbar {
    padding-bottom: 0;
} 

/*Side borders */

#top-card {
    background-color: #f94b4e;
}

#sides {
    background-color: white;
    border-left: solid 1rem #f94b4e;
    border-right: solid 1rem #f94b4e;
    border-top: solid 1rem #f94b4e;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

#sides2 {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    margin: 0.25rem 0.25rem 0;
    background: linear-gradient(#87ceeb, #a5def5, #b4deefd6, #cce8f3d6, #e4f5fcd6, #ffffffd6, white, white);
}

#sides3 {
    background-color: white;
    border-left: solid 1rem orange;
    border-right: solid 1rem orange;
    border-bottom: solid 1rem orange;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

#sides4 {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    margin: 0 0.25rem 0.25rem;
}

/*About section */

#about-section {
  margin-top: 10rem;
}

/*Photo card */

.front-card {
    background-color: floralwhite;
    width: 17rem !important;
    height: 23rem;
    box-shadow: 0 0 2px whitesmoke;
    font-family: 'Oswald', sans-serif;

}

#overlay {
    margin-left: -6px;
    position: absolute;
    width: 17rem;
    z-index: 10;
    opacity: 0;
}

#overlay:hover {
  opacity: 1;
}

#flag {
    position: absolute;
    z-index: 1;
}

#flag-text {
    z-index: 2;
    letter-spacing: 1px;
    transform: rotate(-14deg);
    margin-left: 1.4rem;
    color: floralwhite;
    font-size: 2rem;
    position: absolute;
    line-height: 4rem;
    font-style: italic;
}

#flag-text span:nth-child(1) {
  margin-left: 0.1rem;
  color: yellow;
}

#flag-text span:nth-child(2) {
 font-size: 1.8rem;
}

#flag-text span:nth-child(3) {
    font-size: 1.5rem;
}

#flag-text span:nth-child(4) {
    font-size: 1.3rem;
}

#flag-text span:nth-child(5) {
    font-size: 1.1rem;
}

#flag-text span:nth-child(6) {
    font-size: 0.9rem;
}

#flag-text span:nth-child(7) {
    font-size: 0.7rem;
}

#card-photo {
    width: 90%;
    margin: 0.4rem 5% 0;
    filter: saturate(0.8) contrast(1.2);
}

.card-name {
    font-size: 1.5rem;
    font-weight: 700;
    color: #ef7676;
}

.card-name span {
    color: #7fbfe7;
}

.card-sub, .back-card {
    font-size: 0.8rem;
    font-weight: 500;
}

.card-name, .card-sub, .back-card p {
    letter-spacing: 1px;
    text-align: center;
}
#gabe-card {
    z-index: 4;
    position: relative;
    transform: rotate(-9deg);
}

/*Photo card end*/

/*About card back*/

.back-card {
    box-shadow: 0 0 2px whitesmoke;
    height: 18rem;
    width: 28rem;
    font-family: 'Oswald', sans-serif;
}

.back-card h3 {
    font-size: 1.5rem;
    margin: 0 5% 2%;
    display: inline;
    line-height: 1.5;
}

.back-card-top {
    height: 50%;
    margin: 0 auto;
}

.back-card-bottom {
    height: 30%;
    margin: 0.3rem auto 0;
}


.back-card-top, .back-card-bottom {
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 96%;
    border: thin solid;
    border-top-width: 10px;
}

#about-para {
    position: relative;
    margin-left: 75%;
    transform: rotate(10deg);
    background-color: #6aa94b;
    z-index: 2;
    color: #5f471e;
}

#about-para h3 {
    color: #5d5da9;
}

#about-para div {
    background-color: #b6c88b;
    border-color: #5d5da9;
}

/*About card back ends*/

/*Skills card*/

#skill-card {
    transform: rotate(-10deg);
    position: relative;
    margin-top: -67%;
    margin-left: 76%;
    z-index: 3;
    box-shadow: 0 0 2px whitesmoke;
    height: 18rem;
    width: 28rem;
    font-family: 'Oswald', sans-serif;
    background-color: #fde3b7;
}

#skill-top {
    background-color: #edb047;
    width: 96%;
    height: 54%;
    margin: auto;
    border-top: solid thick #fde3b7;
}

#skill-sub {
    font-size: 0.8rem;
    font-weight: 500;
    color: #5f471e;
    margin-left: 5%;
}

#skill-card h3 {
    display: inline;
    font-size: 1.5rem;
    margin-left: 10%;
    color: #fde3b7;
}

table {
    width: 80%;
    border: thin #5f471e solid;
    border-collapse: collapse;
    margin: 0 auto 1rem;
}

td {
    font-size: 0.8rem;
    border: thin #5f471e solid;
    width: 33%;
    color: #5f471e;
}

th {
    font-weight: 500;
    letter-spacing: 2px;
    font-family: 'Montserrat', sans-serif;
    color: floralwhite;
    background-color: #5f471e;
    text-align: center;
}

#skill-bottom {
    margin: 0.25rem 1rem;
}


/*Skills card ends*/

#cat-card {
    z-index: 0;
    transform: rotate(-209deg);
    margin-top: -93%;
    margin-left: 30%;
    position: relative;
}

#red-back {
    position: relative;
    transform: rotate(123deg);
    margin-left: -187%;
    margin-top: 25%;
    background-color: #ef7676;
    z-index: 1;
}

#red-back div {
    border-color: #613a3a;
    background-color: #e9c8c8;
}

#red-back h3{
    color: #613a3a;
}

#bottom_card, footer {
    background-color: orange;
}

#yellow {
    color: yellow;
    text-shadow:  0 0 1px yellow;
}

#yellow:hover {
    color: orange;
}

.sr-only {
    color: black !important;
}

.spacer {
    height: 4rem;
}

.spacer2 {
    height: 10rem;
}

.ball {
    background-color: white;
    border: thin solid black;
    color: red;
    border-radius: 50%;
    height: 100%;
    text-align: center;
    box-shadow: 0 0 1px black;
    padding-bottom: 100%;
}

.ball-box {
  width: 3.5rem;
  height: 3.5rem;
  margin: 0 auto 1rem;
}

.ball .fa {
    color: red;
    margin-top: 0.7rem;
    font-size: 2rem;
    text-shadow:  0 0 1px red;
}

.balls {
    width: 33%;
    margin: auto;
}



.red {
    color: #ef7676;
}

.blue{
    color: #7fbfe7;
}

.brown {
    color: brown;
}

.orange {
    color: orange
}

.green {
    color: #1aaf1a;
}

.card-one {
    position: absolute;
    left: 27%;
    top: 18rem;
    transform: rotate(12deg);
    z-index: 3;
}

#front_card {
    padding-left: 2%;
    transform: rotate(-4deg);
    padding-top: 4rem;
    z-index: 4;
}

hr {
    margin-top: 5rem;
    width: 100%;
}

#pro1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-style: italic;
    font-size: 4rem;
    color: #e14549;
    width: 33%;
    margin: 0 auto 2rem;
}

.stroke-double {
  position: relative;
  background: transparent;
  z-index: 0;
}

.stroke-double:before {
  content: attr(title);
  position: absolute;
  -webkit-text-stroke: 0.19em yellow;
  left: 0;
  z-index: -1;
}

.stroke-double:after {
  content: attr(title);
  position: absolute;
  -webkit-text-stroke: 0.26em black;
  left: 0;
  top: 0;
  z-index: -2;
}

.proj_card {
    background-color: floralwhite;
    width: 17rem !important;
    height: 23rem;
    border: none;
    box-shadow: 0 0 2px whitesmoke;
    position: relative;
    margin: 2rem 0;
}

.proj_card h3 {
    font-family: 'Oswald', sans-serif;
    margin-left: 5%;
}

.proj_card p {
    padding: 0 4%;
}

#l_pc {
    transform: rotate(-7deg);
    margin-left: 21%;
    margin-top: 14%;
}

#r_pc {
    transform: rotate(5deg);
    margin-left: -19%;
    margin-top: 14%;  
}

#pc_1_out, #pc_2_out, #pc_3_out {
    height: 99%;
    border-left: 6px solid;
    border-bottom: 17px solid;
    border-bottom-left-radius: 77px;
}

#pc_1_in, #pc_2_in, #pc_3_in {
    height: 98%;
    width: 98%;
    border-left: 6px solid;
    border-bottom: 17px solid;
    border-bottom-left-radius: 60px;
    position: relative;
    right: -6px;
}

#pc_1_out {
    border-color: purple;
}

#pc_1_in {
    border-color: brown;
}

#pc_2_out {
    border-color: #ef7676; 
}

#pc_2_in {
    border-color: #1aaf1a;
}

#pc_3_out {
    border-color: #2196F3;   
}

#pc_3_in {
    border-color: orange;    
}

.troph {
    height: 39%;
    position: absolute;
    bottom: -2px;
    right: 0;
}

#contact_me a {
    text-decoration: none;
    color: yellow;
    text-shadow:  0 0 1px yellow;
}

#contact_me a:hover {
    color: #ef7676;
    text-shadow:  0 0 1px #ef7676;
}

.fa-trophy{
    color: yellow;
    font-size: 6rem !important;
    text-shadow: 1px 1px 2px black, -1px -1px 2px black, 1px -1px 2px black, -1px 1px 2px black;
    margin-right: 1%;

}
@media all and (max-width: 600px) {
    #pro1 {
        margin-left: 1rem; 
    }
    #about-para, #skill-card {
        box-shadow: 0 0 2px whitesmoke;
        letter-spacing: 1px;
        font-family: 'Oswald', sans-serif;
        height: 23rem;
        width: 17rem;
        margin: 2rem auto;
    }
    #skill-card h3 {
        font-size: 1.2rem;
        display: block;
    }
    #skill-sub {
        margin-left: 10%;
    }
    .fa-trophy {
        font-size: 3rem !important;
    }
    #l_pc, #r_pc {
        margin: 0;  
    }
    #c_pc {
        transform: rotate(-7deg);
        margin-bottom: -2%;
    }
    #overlay {
        margin-left: -2%;
    }
    hr, #red-back {
        display: none;
    }
    .spacer, .spacer2 {
        height: 0;
    }
    #about-section {
        margin-top: 2rem;
    }
    #cat-card {
        margin-left: 5%;
        transform: rotate(191deg);
        margin-top: -125%;
    }
    #cat-card:hover {
      z-index: 10;
    }
}