#top_card {
    background-color: #f94b4e;
}

#bottom_card {
    background-color: orange;
}

.navbar {
    padding-bottom: 0;
} 

.clip-me {
    /*clip-path: inset(0px 0px 22px 0px);*/
}

#logo1, #logo2, #logo3, #logo4, #logo5 {
    color: #7fbfe7;
    letter-spacing: -1.1px;
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: 900;
    overflow: hidden;
    padding-bottom: 1rem;
}

#logo1 {
    text-shadow:  0 0 2px #7fbfe7,
                  -1px 0  2px black,
                  0 1px 2px black,
                  1px 0 2px black,
                  0 -1px 2px black,
                  1px 1px 2px black,
                  2px 2px 2px black,
                  3px 3px 2px black,
                  4px 4px 2px black,
                  5px 5px 2px black,
                  6px 6px 2px black,
                  7px 7px 2px black,
                  8px 8px 2px black,
                  9px 9px 2px black,
                  10px 10px 2px black,
                  11px 11px 2px black,
                  12px 12px 2px black,
                  13px 13px 2px black,
                  14px 14px 2px black,
                  15px 15px 2px black,
                  16px 16px 2px black,
                  17px 17px 2px black,
                  18px 18px 2px black,
                  19px 19px 2px black,
                  20px 20px 2px black,
                  21px 21px 2px black,
                  22px 22px 2px black,
                  23px 23px 2px black,
                  24px 24px 2px black,
                  25px 25px 2px black,
                  26px 26px 2px black,
                  27px 27px 2px black,
                  28px 28px 2px black,
                  29px 29px 2px black,
                  30px 30px 2px black,
                  31px 31px 2px black,
                  32px 32px 2px black,
                  33px 33px 2px black,
                  34px 34px 2px black,
                  35px 35px 2px black,
                  36px 36px 2px black,
                  37px 37px 2px black,
                  38px 38px 2px black;
}

#logo2 {
    text-shadow:  0 0 2px #7fbfe7,
                  -1px 0 2px black,
                  0 1px 2px black,
                  1px 0 2px black,
                  0 -1px 2px black,
                  1px 1px 2px black,
                  2px 2px 2px black,
                  3px 3px 2px black,
                  4px 4px 2px black,
                  5px 5px 2px black,
                  6px 6px 2px black,
                  7px 7px 2px black,
                  8px 8px 2px black,
                  9px 9px 2px black,
                  10px 10px 2px black,
                  11px 11px 2px black,
                  12px 12px 2px black,
                  13px 13px 2px black,
                  20px 13px 2px black,
                  24px 13px 2px black,
                  28px 13px 2px black,
                  32px 13px 2px black,
                  34px 13px 2px black,
                  38px 13px 2px black,
                  40px 13px 2px black,
                  41px 13px 2px black;
}

#logo3 {
    text-shadow:  0 0 2px #7fbfe7,
                  -1px 0 2px black,
                  0 1px 2px black,
                  1px 0 2px black,
                  0 -1px 2px black,
                  1px 1px 2px black,
                  2px 2px 2px black,
                  3px 3px 2px black,
                  4px 4px 2px black,
                  5px 5px 2px black,
                  6px 6px 2px black,
                  7px 7px 2px black,
                  8px 8px 2px black,
                  9px 9px 2px black,
                  10px 10px 2px black,
                  11px 11px 2px black,
                  12px 12px 2px black,
                  13px 13px 2px black,
                  14px 13px 2px black;
    padding-right: 1rem;
}


#logo4 {
    text-shadow:  0 0 2px #7fbfe7,
                  -1px 0 2px black,
                  0 1px 2px black,
                  1px 0 2px black,
                  0 -1px 2px black,
                  1px 1px 2px black,
                  2px 2px 2px black,
                  3px 3px 2px black,
                  4px 4px 2px black,
                  5px 5px 2px black,
                  6px 6px 2px black,
                  7px 7px 2px black,
                  8px 8px 2px black,
                  9px 9px 2px black,
                  10px 10px 2px black,
                  11px 11px 2px black,
                  12px 12px 2px black,
                  13px 13px 2px black,
                  18px 13px 2px black,
                  20px 15px 2px black,
                  13px 20px 2px black;
}

#logo5 {
    text-shadow:  0 0 2px #7fbfe7,
                  -1px 0 2px black,
                  0 1px 2px black,
                  1px 0 2px black,
                  0 -1px 2px black,
                  1px 1px 2px black,
                  2px 2px 2px black,
                  3px 3px 2px black,
                  4px 4px 2px black,
                  5px 5px 2px black,
                  6px 6px 2px black,
                  7px 7px 2px black,
                  8px 8px 2px black,
                  9px 9px 2px black,
                  10px 10px 2px black,
                  11px 11px 2px black,
                  12px 12px 2px black,
                  13px 13px 2px black,
                  14px 14px 2px black;
    padding-right: 1rem;
}

#gabriel {
    line-height: 1px;
    display: block;
    margin-top: 20px;

}

#meringolo {
    position: relative;
    bottom: 10px;
}

#yellow {
    color: yellow;
    text-shadow:  0 0 1px yellow;
}

#yellow:hover {
    color: orange;
}

.sr-only {
    color: black !important;
}

#postnav {
    /*height: 0.25rem;*/
    /*border-bottom: grey thin solid;*/
}

#prefooter1 {
    /*height: 0.25rem;*/
    /*border-top: grey thin solid;*/
    /*margin-top: 4rem;*/
}

#prefooter2 {
/*    height: 1rem;
    background-color: yellow;*/

}

footer {
    background-color: orange;
}

.spacer {
    height: 4rem;
}

.spacer2 {
    height: 10rem;
}

.ball {
    background-color: white;
    border: thin solid black;
    color: red;
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    text-align: center;
    margin: 1rem;
    box-shadow: 0 0 1px black;
}

.ball .fa {
    color: red;
    margin-top: 0.7rem;
    font-size: 2rem;
    text-shadow:  0 0 1px red;
}

.balls {
    width: 33%;
    margin: auto;
}

#about_card {
    margin-left: 4rem;
    background-color: floralwhite;
    width: 15rem !important;
    height: 21rem;
    border: none;
    box-shadow: 0 0 2px whitesmoke;
    filter: blur(0.5px);
    position: relative;
}

#overlay {
    position: absolute;
    width: 15rem;
    height: 21rem;
    margin-left: 3.9rem;
    opacity: 0; 
    z-index: 10;
}

#overlay:hover {
    opacity: 1;
}

.red {
    color: #ef7676;
}

.blue{
    /*color: #2196F3;*/
    color: #7fbfe7;
}

#card_photo {
    width: 13rem;
    height: 16rem;
    border: thin black solid;
    margin: 1rem auto 0;
}

#card_name {
    font-size: 1.5rem;
    font-weight: 700;
}

#card_sub {
    font-size: 0.8rem;
    font-weight: 500;
}

#card_name, #card_sub {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
    text-align: center;
}

#flag {
    position: absolute;
    z-index: 1;
}

#head {
    max-height: 16rem;
    filter: saturate(0.8) contrast(1.2);
}

#words {
    z-index: 2;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
    transform: rotate(-14deg);
    margin-left: 1.4rem;
    color: floralwhite;
    font-size: 2rem;
    position: absolute;
    line-height: 4rem;
    font-style: italic;
}

#words2 {
 font-size: 1.8rem;
}

#words3 {
    font-size: 1.5rem;
}

#words4 {
    font-size: 1.3rem;
}

#words5 {
    font-size: 1.1rem;
}

#words6 {
    font-size: 0.9rem;
}

#words7 {
    font-size: 0.7rem;
}

#no_i {
    font-style: normal;
    color: yellow;
    margin-left: 0.1rem;
}

#sides {
    background-color: white;
    border-left: solid 1rem #f94b4e;
    border-right: solid 1rem #f94b4e;
    border-top: solid 1rem #f94b4e;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

#sides2 {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top: thin solid grey;
    border-left: thin solid grey;
    border-right: thin solid grey;
    margin: 0.25rem 0.25rem 0;
}

#sides3 {
    background-color: white;
    border-left: solid 1rem orange;
    border-right: solid 1rem orange;
    border-bottom: solid 1rem orange;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

#sides4 {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: thin solid grey;
    border-left: thin solid grey;
    border-right: thin solid grey;
    margin: 0 0.25rem 0.25rem;
}